.header {
  overflow: hidden;
  padding: 20px 10px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.abc{
  text-align: left;
  padding-left: 0px;
  padding-right: 10px;
}

p.namaste{
      font-family: 'Lexend Deca',sans-serif;
      color: #332e2e;
      font-size: 100px;
      line-height: .8em;
      font-weight: 900;
      text-align: left;
}

p.hello{
  margin-top: 1px;
  padding-left: 10px;
  font-size: 15px;
  line-height: 28px;
  text-align: left;
}


.font{
  font-family: 'Atkinson Hyperlegible',sans-serif;
    color: #332e2e;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .5px;
}


.font1{
  font-family: 'Atkinson Hyperlegible',sans-serif;
    color: #332e2e;
    font-size: 25px;
}


.navbar {
  left: 0;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 0;
  margin-left: 0;
  padding: 0 15% 2%;
  border-top: 4px #000;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

div {
  display: block;
}

.body {
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  background-color: #fff7f4;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.bonjour-h1 {
font-family: 'Lexend Deca',sans-serif;
color: #332e2e;
font-size: 120px;
line-height: .8em;
font-weight: 900;
text-align: left;
}

.bonjour-sub{
margin-top:-2%;
margin-left:1%;
font-size: 15px;
}

p {
margin-top: 0;
margin-bottom: 0;
font-family: 'Atkinson Hyperlegible',sans-serif;
color: #332e2e;
font-size: 16px;
line-height: 29px;
font-weight: 400;
letter-spacing: .5px;
}

.column-1 {
padding-right: 0;
padding-left: 25%;
text-align: left;
}


.w-col-6 {
width: 50%;
}
.w-col {
position: relative;
float: left;
width: 100%;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}


.btn {
border: 1px;
font-family: 'Lexend Deca',sans-serif;
text-align: right;
cursor: pointer;
color: #fff;
font-size: 15px;
padding: 17px 60px;
border-radius: 12px;
border-color: black;
}


.w-col-6{
width: 50%;
}

.image{
  display: block;
  width: 250px;
  height: 250px;
  margin-left: 33.5%;
  margin-top: 5%;
  padding: 0;
  border: 3px solid #000;
  border-radius: 1000px;
}

.content {
position: absolute;
top: 55%;
/* overflow: hidden; */
font-size: 30px;
line-height: 50px;
color: #FFCB04;
}

.list{
animation-name:change;
animation-duration: 10s;
animation-iteration-count: infinite;
font-family: 'Share Tech Mono', monospace;
}

ul{
list-style-type: disc;
}

.item {
line-height: 50px;
margin-bottom: 0px;
}

.myname{
font-family: 'Share Tech Mono', monospace;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  animation: .8s shake infinite alternate;
  animation-duration: 0.8s;
  animation-name: shake;
  text-transform: uppercase;
}

@keyframes shake{
0%{
  transform: skewX(-15deg)
}
5%{
  transform: skewX(15deg);
}
  
10%{
  transform: skewX(-20deg);
}
15%{
  transform: skewX(20deg);
}
20%{
  transform: skewX(0deg);
}
100%{
  transform: skewX(0deg);
}
}


.container:before {
position: absolute;
top: 0px;
color: #007bff;
font-size: 50px;
animation-name: opacity1;
animation-duration: 2s;
animation-iteration-count: infinite;
}
.container:before {
content: '[';
left: 0;
}
.container:after, .container:before {
position: absolute;
top: 0px;
color: #007bff;
font-size: 50px;
animation-name: opacity1;
animation-duration: 2s;
animation-iteration-count: infinite;
}
.container:after {
content: ']';
position: absolute;
right: 0;
}

.content .container {
font-weight: 600;
overflow: hidden;
height: 50px;
padding: 0px 40px;
width: 100%;
}

@keyframes change {
0%, 12.66%, 100% {
  transform: translate3d(0,0,0);
}

16.66%, 29.32% {
  transform: translate3d(0,-35%,0);
}
33.32%, 45.98% {
  transform: translate3d(0,-68%,0);
}
49.98%, 62.64% {
  transform: translate3d(0,-70%,0);
}
66.64%, 79.3% {
  transform: translate3d(0,-37%,0);
}
83.3%, 95.96% {
  transform: translate3d(0,-0%,0);
}

}


.sevices-column{
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  
}

.green-content {
  height: auto;
  margin-left: 40px;
  padding: 0px;
  border-radius: 50px;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 100px;
  padding: 10px 10px 10px;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 40px;
  background-color: #b6ffd2;
  text-align: center;
  cursor: auto;
  
}





.footer {
  border-top-style: solid;
  border-width: 2px 1px;
  border-color: #000;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-family: Oswald,sans-serif;
}


section .skills{
  visibility: visible;  
  -webkit-transform: translateY(0) scale(1); 
  opacity: 1;
  transform: translateY(0) scale(1); 
  opacity: 1;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(.694,0,.335,1) 0s, 
  opacity 0.6s cubic-bezier(.694,0,.335,1) 0s; 
  transition: transform 0.6s cubic-bezier(.694,0,.335,1) 0s, 
  opacity 0.6s cubic-bezier(.694,0,.335,1) 0s; 
}

.skills .skillz {
  display: flex;
  justify-content: space-between;
}

.skills .skillz_category_label {
  font-weight: 800;
  color: #36363c;
  text-transform: uppercase;  
}

.skills .skillz_category_item {
  margin: 3px 0;
  font-size: .9rem;
}